
name: Service Template Docker Creation
on:
  push:
    branches:
      - main
      - master
jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build the Docker Image
        run: docker build . --file Dockerfile --tag ${{ github.repository }}/test
      - name: Push the Docker image to Dockerhub
        run: docker push ${{ github.repository }}/test
